body {
  background-color: #28f0da;
}

a {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 4px;
  padding-right: 3px;
}

a:hover {
  color: red;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

#username {
  font-size: 25px;
  text-align: center;
}

.hover-background:hover {
  background-color: #e7e7e7;
}

#settings-position {
  grid-row: 1/1;
  grid-column: 30/30;
  z-index: 2;
}

#settings-content {
  display: flex;
  font-size: 15px;
  margin-top: 3px;
}

#searchbar {
  grid-row: 1/1;
  grid-column: 28/32;
}

#searchbar-text {
  grid-row: 1/1;
  grid-column: 30/32;
}

#submitbox {
  width: 200px;
  height: 25px;
  border-style: solid;
}

/* https://stackoverflow.com/questions/45536537/centering-in-css-grid */
#image-box {
  display: flex;
  justify-content: center;
  grid-column: 15/16;
  grid-row: 3/7;
}

#user-image {
  width: 100px;
  height: 100px;

  /* If I choose to allow this, use a safe host like imgur */
}

#navbar-grid-size {
  grid-row: 1/1;
  grid-column: 1/32;
}

#bio {
  grid-column: 10/21;
  grid-row: 3/3;
  background-color: white;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 5px;
  font-size: 25px;
  border-color: black;
  border-top-style: solid;
  border-bottom-style: solid;
  word-wrap: anywhere;
}

#profile-post-container {
  color: blue;
  display: block;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  background-color: #d9d9d9;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 125px;
  margin-right: 125px;
}

#profile-post-form {
  display: none;
  color: black;
  background-color: #cef;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  cursor: default;
}

.user-posts-container {
  text-align: center;
  background-color: white;
  border-color: black;
  border-style: solid;
  margin-top: 25px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-width: 1px;
  border-left-style: none;
  border-right-style: none;
}

.profile-table {
  grid-row: 1;
  grid-column: 10/21;
  background-color: #00b7ffde;
  border-radius: 10px;
  border-style: solid;
  margin-top: 35px;
}

.user-posts {
  border-top-style: solid;
  border-width: 1px;
}

.user-post-date {
  color: #ababab;
}

.float-right {
  float: right;
}

.links-container {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  background-color: #cef;
  border-top-width: 2px;
  border-radius: 8px;
}

.flex {
  display: flex;
  flex-flow: column;
}

/* Below 420 pixels, orientate the username or buttons in a different manner to prevent overlapping and buttons getting cut off */
@media screen and (max-width: 391px) {
  #username {
    grid-row: 2;
    grid-column: 19;
  }

  #links-main {
    grid-row: 1;
    grid-column: 1/2;
  }

  #image-box {
    grid-column: 19;
    grid-row: 3/6;
  }
}

@media screen and (max-width: 430px) {
  .profile-table {
    grid-column: 1/31;
  }

  #profile-post-container {
    margin-left: 85px;
    margin-right: 85px;
  }

  #profile-post-form {
    text-align: center;
    left: 50%;
    transform: translate(-50%, 1%);
  }

  #profile-post-content {
    width: 97%;
  }
}

@media screen and (max-width: 900px) {
  #username {
    grid-column: 1/50;
  }

  #bio {
    grid-column: 1/50;
  }
}

@media screen and (max-width: 514px) {
  a {
    margin-left: 0;
    margin-right: 0;
  }
}
