body {
  background-color: #28f0da;
}

#grid {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-gap: 0;
}

#search-box {
  font-size: 18px;
  border-radius: 15px;
  border-color: #dfe1e5;
  grid-column: 1/9;
  padding: 7px;
}

#search-box:hover {
  background-color: #e7e7e7;
}

#search-form {
  display: block;
  grid-row: 2/2;
  grid-column: 12/21;
  margin-top: 25px;
  border-style: solid;
  background-color: #00b7ffde;
  border-radius: 8px;
  padding: 3px;
  border-color: #595959;
  text-align: center;
}

#search-form-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#search-text {
  font-size: 20px;
  grid-column: 15/19;
  text-align: center;
  margin-right: 40px;
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
}

#txt-clr-bg {
  color: black;
  background-color: #cef;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 7px;
  font-size: 20px;
}

#navbar-grid-size {
  grid-column: 1/33;
}

input[type="submit"] {
  grid-column: 4/6;
  border-color: #999;
  border-radius: 20px;
  margin-top: 20px;
  border-style: inset;
  cursor: pointer;
}

input[type="submit"]:hover {
  border-color: #595959;
  color: red;
}

@media screen and (max-width: 800px) {
  #search-form {
    grid-column: 7/27;
  }
}

  @media screen and (max-width: 400px) {
    #search-form {
      grid-column: 1/33;
    }
  }


}
