body {
  background-color: #28f0da;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: red;
}

#grid {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-gap: 0px;
}

#navbar-grid-size {
  grid-row: 1/1;
  grid-column: 1/51;
}

.button-styling:hover {
  background-color: #e7e7e7;
}

.icon-size-spacing {
  padding-right: 5px;
  font-size: 15px;
}

.float-right {
  float: right;
}

#miniverse-list {
  margin-right: 18px;
  display: inline-block;
  font-size: 20px;
  width: 182px;
  height: 46px;
}

#follower-count-box {
  display: inline-block;
  font-size: 20px;
  margin-left: 3px;
}

#browser-content {
  margin-top: 25px;
  grid-row: 2/2;
  grid-column: 19/50;
}
#miniverse-title {
  margin-right: 135px;
  font-weight: bold;
}
.type-spacing {
  margin-left: 50px;
}
.title-styling {
  text-decoration: underline;
  font-weight: bold;
}

@media screen and (max-width: 630px) {
  #browser-content {
  grid-column: 14/50;
  }
}

@media screen and (max-width: 447px) {
  #browser-content {
  grid-column: 2/50;
  }
}
@media screen and (max-width: 353px) {
  #miniverse-title {
    margin-right: 135px;
  }
  #browser-content {
  grid-column: 1/50;
  }

  .button-styling {
    background-color: white;
    border-style: solid;
    border-color: black;
    font-size: 15px;
    border-radius: 5px;
  }
}
