#links-content {
  position: absolute;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  background-color: lightgray;
  display: none;
  font-size: 15px;
}

.button-styling {
  display: inline-block;
  position: relative;
  background-color: lightgray;
  border-style: solid;
  border-color: white;
  margin: 3px;
  font-size: 22px;
  border-radius: 3px;
  box-shadow: 2px 2px black;
}
