
#grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 1fr;
}

#gi1 {
  display: block;
  grid-column: 8/14;
  grid-row: 1/2;
}

.login-form {
  display: block;
  background-color: #cff;
  border-radius: 20px;
  border-color: #595959;
  border-style: solid;
  border-width: 7px;
}

input[type=text] {
  border-style: solid;
  border-color: #dfe1e5;
  border-width: 2px;
  width: -moz-available;          /* For Mozzila */
  width: -webkit-fill-available;  /* For Chrome */
  width: stretch;                 /* Unprefixed */
  padding: 7px;
}

input[type=password] {
  border-style: solid;
  border-color: #dfe1e5;
  border-width: 2px;
  width: -moz-available;          /* For Mozzila */
  width: -webkit-fill-available;  /* For Chrome */
  width: stretch;                 /* Unprefixed */
  padding: 7px;
}

input[type=submit] {
  padding: 3px;
  width: 100%;
  cursor: pointer;
  border-style: none;
}

.display-text {
  text-align: center;
  color: black;
  font-size: 20px;
  background-color: #00b7ffde;
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
}

.hover-background:hover {
  background-color: #e7e7e7;
}

body {
  background-color: #28f0da;
}

@media screen and (max-width: 630px) {
  #gi1 {
    grid-column: 1/21;
  }
}
