#grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 1fr;
}

#gi1 {
  display: block;
  grid-column: 10/11;
  grid-row: 1/2;
}

.register-form {
 margin: auto;
  display: block;
  background-color:  #ccffff;
  border-radius: 20px;
  border-color:  #595959;
  border-style: solid;
  border-width: 7px;
}
input[type=text] {
  border-style: solid;
  border-color: #dfe1e5;
  border-radius: 7px;
  width: 470px;
  padding: 7px;
}
input[type=password] {
  border-style: solid;
  border-color: #dfe1e5;
  border-radius: 7px;
  width: 470px;
  padding: 7px;
}
input[type=submit] {
  border-radius: 12px;
  padding: 3px;
  margin-left: 0px;
  width: 488px;
  border-color: #8a8a8ad8;
  cursor: pointer;
}

.display-text {
  text-align: center;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  background-color: #00b7ffde;
  font-family: "Arial";
}

#username-box {
  padding: 0px;
  font-size: 14px;
}

.user-requirement-container {
  padding-left: 0px;
  padding-right: 5px;
  margin: 0px;
  text-align: center;
}
.user-requirement-list {
  color: black;
  padding: 0px;
  margin: 0px 0px 0px 30px;
}

#password-box {
  padding: 0px;
  font-size: 14px;
}

.pass-requirement-container {
  padding-left: 0px;
  padding-right: 5px;
  margin: 0px;
  text-align: center;
}
.pass-requirement-list {
  color:  black;
  padding: 0px;
  margin: 0px 0px 0px 23px;
}

body {
	background-color: #28f0da;
}

.hover-background:hover {
  background-color: #e7e7e7;
}

@media screen and (max-width: 700px) {

input[type=text] {
  width: 270px;
}

input[type=password] {
 width: 270px;
}

input[type=submit] {
  width: 289px;
}

}
