#grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 1fr;
}

#register-container {
  display: block;
  grid-column: 5/16;
  grid-row: 1/2;
}

.register-form {
  margin: auto;
  display: block;
  background-color: #cff;
  border-radius: 20px;
  border-color: #595959;
  border-style: solid;
  border-width: 7px;
}

input[type=text] {
  border-style: solid;
  border-color: #dfe1e5;
  width: -moz-available;          /* For Mozzila */
  width: -webkit-fill-available;  /* For Chrome */
  width: stretch;                 /* Unprefixed */
  padding: 7px;
}

input[type=password] {
  border-style: solid;
  border-color: #dfe1e5;
  width: 95.5%;
  width: -moz-available;          /* For Mozzila */
  width: -webkit-fill-available;  /* For Chrome */
  width: stretch;                 /* Unprefixed */
  padding: 7px;
}

input[type=submit] {
  padding: 3px;
  width: -moz-available;          /* For Mozzila */
  width: -webkit-fill-available;  /* For Chrome */
  width: stretch;                 /* Unprefixed */
  border-style: none;
  cursor: pointer;
}

.display-text {
  text-align: center;
  color: black;
  font-size: 18px;
  background-color: #00b7ffde;
  font-family: "Arial";
}

.user-requirement-container {
  padding-left: 0;
  padding-right: 5px;
  margin: 0;
  text-align: center;
}

.user-requirement-list {
  color: black;
  padding: 0;
  margin: 0 0 0 30px;
}

#password-box {
  padding: 0;
  font-size: 14px;
}

.pass-requirement-container {
  padding-left: 0;
  padding-right: 5px;
  margin: 0;
  text-align: center;
}

.pass-requirement-list {
  color: black;
  padding: 0;
  margin: 0 0 0 23px;
}

body {
  background-color: #28f0da;
}

.hover-background:hover {
  background-color: #e7e7e7;
}

@media screen and (max-width: 700px) {
  #register-container {
    grid-column: 1/21;
  }
}
