body {
  background-color: #28f0da;
}

#grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#navbar-grid-size {
  grid-row: 1;
  grid-column: 1/21;
}

#follower-box-header {
  grid-row: 4;
  grid-column: 6/16;
  font-size: 20px;
  font-family: "Arial";
}

#follower-box {
  grid-row: 5;
  grid-column: 6/16;
  font-size: 30px;
  border-style: solid;
  border-width: 2px;
  border-radius: 7px;
  background-color: white;
}
