<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Miniverse Browser</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/browser.css">
  </head>
  <body>
    <div id="grid">
    <div id="links-content">
      <a href="/search" class="button-styling"><i class="las la-search icon-size-spacing"></i>Search</a>
      <a href="/profile" class="button-styling"><i class="las la-user icon-size-spacing"></i>Profile</a>
      <a href="/create/miniverse" class="button-styling"><i class="las la-plus-square icon-size-spacing"></i>Create Miniverse</a>
      <a href="/logout" class="float-right button-styling"><i class="las la-sign-out-alt icon-size-spacing"></i>Logout</a>
    </div>
  <div id="browser-content">
  <span id="miniverse-title" class="title-styling">Miniverse</span>
  <span class="title-styling">Followers</span>
  <br>
  <div id="miniverse-list">
  {{#each miniverseColumn}}
  <a href="/m/{{this.encoded_uri}}">{{this.name}}</a>
  <br>
  {{/each}}
  </div>
  <div id="follower-count-box">
    {{#each miniverseFollowerCount}}
    {{this.follower_count}}
    <br>
    {{/each}}
  </div>
</div>
</div>
  </body>
</html>
