<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/other-profiles.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <meta charset="utf-8">
    <title>{{name}}'s Profile</title>
  </head>
  <body>
    <div id="grid-container">
      <div id="username">
        {{name}}
      </div>
      <div id="settings-position">
        <div id="settings-content">
          <a href="/profile"><i class="las la-user icon-size-spacing"></i>Profile</a>
          <a href="/logout"><i class="las la-sign-out-alt icon-size-spacing"></i>Logout</a>
        </div>
      </div>
      <div id="links-position">
        <div id="links-content">
          <a href="/search"><i class="las la-search icon-size-spacing"></i>Search</a>
          <a href="/browser"><i class="las la-newspaper icon-size-spacing"></i>Browser</a>
        </div>
      </div>
      <div id="bio">
        <div id="follow-button-box">
          <form class="" action="follow" method="POST">
            <input class="button-styling" type="submit" name="" value="Follow user">
          </form>
        </div>
        {{userBio}}
      <div>

  </div>
  </body>
</html>
