<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/profile-customize.css">
    <meta charset="utf-8">
    <title>Customize profile</title>
  </head>
  <body>
    <div id="update-bio">
      <form action="customize">

      </form>
    </div>
      <div id="update-bio-form">
        Update bio
      <form action="update-bio" method="POST">
        <textarea id="" name="update_bio" rows="10" cols="50" maxlength="80"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
