<div class="links-container" id="navbar-grid-size">
  <a href="/search" class="button-styling"><i class="las la-search icon-size-spacing"></i>Search</a>
  <a href="/logout" class="float-right button-styling"><i class="las la-sign-out-alt icon-size-spacing"></i>Logout</a>
  <a href="/profile" class="button-styling"><i class="las la-user icon-size-spacing"></i>Profile</a>
  <a href="/browser" class="button-styling"><i class="las la-newspaper icon-size-spacing"></i>Browser</a>
</div>
